.task {
  background: #f4f6f7;
  &:hover {
    .task__edit {
      opacity: 100%;
    }
  }
  &__edit {
    position: relative;
    margin-left: auto;
    opacity: 0%;
    transition: all 0.3s ease-out;
  }
  &__title {
    cursor: pointer;
    font-size: 1.5rem;
  }
}
